*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background: white;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;;
    box-sizing: border-box;
    
}
.menu-bar {
    background: #212529;
    text-align: center;
    
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #ffffff;
}

.menu-bar ul li{
    
    margin: 5px;
    padding: 5px;
    width: 100px;

    

}

.menu-bar input[type="text"]{
    width: 150px;
    background: none;
    color: #ffffff;
    background: #495057;
    text-align: center;
    border: 0;
    outline: none;
    padding: 5px;
    border-radius: 20px;
    transition: 0.25s;
    

}

.menu-bar input[type="text"]:focus{
    width: 400px;
    background: #495057;
    border: 0;
    
    

}

.menu-bar ul li a{
    
    text-decoration: none;
    color: #ffffff;  

}

.active, .menu-bar ul li:hover{
    
    background: #495057;
    border-radius: 20px;
     

}

.macMenu{
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    
}

.macMenu ul{
    
    display: inline-flex;
    list-style: none;
    
}

.macMenu ul li{
    
    padding: 5px;
    margin: 5px;
    
    
    
}

.chapternav{
    width: 104px;
    height: 52px;
    
    background-color: #ffffff;
    background-size: 104px 52px;
    background-repeat: no-repeat;
    outline: none;
    
    
    
}

.chapternav-macbook-air{
    
    background-image: url(/home/mubassir/Pictures/macbook\ Air.svg);  
    
}

.chapternav-macbook-pro{
    
    background-image: url(/home/mubassir/Pictures/macbook\ pro.jpg)
    
    
}